@import 'codemirror';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #555;
}

main {
  height: 100%;
  display: flex;
}

#left {
  flex-basis: 100%;
  flex-grow: 1;

  .react-codemirror2, .CodeMirror {
    height: 100%;
  }

  .CodeMirror {
    font-family: 'Dank Mono', monospace;
    color: rgba(248, 248, 248, .5);
  }

  .CodeMirror-gutters {
    padding-right: 8px;
    border-style: none;
    background: none;
  }

  .text-marker-red {
    background: rgba(149, 165, 166, .3);
  }
}

#right {
  flex-basis: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
}

#error-message {
  width: 100%;
  max-width: 800px;
  padding: 1rem 1.5rem 1.5rem;
  background: #b84846;
  border-radius: 3px;

  h2, h3 {
    margin: 0;
    padding: 0;
    background: #b84846;
    color: white;
    font-family: 'Dank Mono', monospace;
  }

  h3 {
    margin-top: .5rem;
  }

  .snippet {
    margin: 1.5rem 0 0;
    padding: 1rem;
    background: #eee;
    border-radius: 3px;
    overflow-x: scroll;
  }
}

#form {
  width: 100%;
  max-width: 800px;
  padding: 1rem 1.5rem;
}

#form .group + .group {
  margin-top: 2rem;
}

#form .group-repeater {
  border: 1px solid #dedede;
}

#form .group-repeater .instance {
  display: flex;
}

#form .group-repeater .instance + .instance {
  border-top: 1px solid #dedede;
}

#form .group-repeater .controls {
  width: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #e8e8e8;

  button {
    width: 32px;
    height: 32px;
    margin: 8px;
    display: block;
    border-style: none;
    background: none;
    font-size: 18px;
    line-height: 32px;
    cursor: pointer;
    border-radius: 3px;
    color: #bbb;
  }

  button + button {
    margin-top: 0;
  }

  button:hover {
    background: gray;
    color: white;
  }

  button:focus {
    outline: none;
  }

  button.delete:hover, button.delete:focus {
    background: #e74c3c;
    color: white;
  }

  button.move {
    cursor: grab;
  }
}

#form .group-repeater .instance:hover > .controls button {
  color: gray;

  &:hover {
    color: white;
  }
}

#form .group-repeater .inputs {
  padding: 1rem;
  flex-basis: 100%;
  border-left: 1px solid #dedede;
}

#form label {
  margin-bottom: .5rem;
  display: block;
  text-transform: uppercase;
  color: #888;
  font-weight: bold;
  font-size: 1rem;
}

#form select, input, textarea {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: .5rem;
  display: block;
  border: 2px solid #dedede;
  border-radius: 3px;
  background: white;
  font-size: 1.2rem;
  -webkit-appearance: none;

  &:focus {
    outline: none;
    border-color: #bbb;
  }
}

#form textarea {
  resize: vertical;
}
