@import 'codemirror';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #555;
}

main {
  height: 100%;
  display: flex;
}

#left {
  flex-basis: 100%;
  flex-grow: 1;

  .CodeMirror {
    height: 100%;
    font-family: 'Dank Mono', monospace;
  }

  .CodeMirror-gutters {
    padding-right: 8px;
    border-style: none;
    background: none;
  }

  .text-marker-red {
    background: rgba(149, 165, 166, .3);
  }
}

#right {
  flex-basis: 100%;
  flex-grow: 1;
  background: #eee;
}

#error-message {
  h2, h3 {
    margin: 0;
    padding: 1rem 1.5rem;
    background: #b84846;
    color: white;
    font-family: 'Dank Mono', monospace;
  }

  h2 + h3 {
    padding-top: 0;
  }

  .snippet {
    margin: 1rem 1.5rem;
  }
}
